.row-grid {
    display: flex;
    flex-flow: row wrap;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
}

.row-grid img {
    height: 165px;
    width: 100%;
}

.col-grid img {
    width: 200px;
    height: calc(100% - 35px);
}

h2 {
    margin: 0;
    font-family: 'Courier New', Courier, monospace
}

.col-grid {
    display: flex;
    flex-flow: column wrap;
    height: 2300px;
    align-content: center;
}